ion-card {
  --background: rgb(58, 150, 255);
  --color: #9efff0;
}

ion-card-title {
  --color: #ffffff;
}

ion-card-content {
  --color: #d1fff8;
}

ion-tab-bar{
    --background: rgb(58, 150, 255);
    --color: #9efff0;
  }

ion-segment-button {
  border: solid 1px #3880ff;
}