<ion-header>
  <ion-toolbar color="primary">
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <div id="logoImg">    
    <img src="../../assets/logo.jpg" alt="logo">
  </div>
  <div class="content">
    <div class="description1">
      The UPark application is here to make parking around the campus of the University Of Patras easier. 
      UPark is designed to divide several parking spots around the campus in zones. 
      Each zone has a different limit in the allowed duration of stay depending on the daily traffic load and the location of the 
      parking lot.
      <ul>
        Zones:
        <li>Zone A (short-time)</li>
        <li>Zone B (normal)</li>
      </ul>
    </div>
    <div class="description2">
      The driver only has to enter the desired location inside the campus and UPark will find a parking spot for you.
      The different parking lots that are controlled by UPark are:
      <ol>
        <li>Parking Εστίας</li>
        <li>Parking Octagon (Πάρκο Ειρήνης)</li>
        <li>Parking Συνεδριακού Κέντρου</li>
        <li>Parking Ηλεκτρολόγων</li>
        <li>Parking Πολιτικών</li>
        <li>Parking Φυσικού</li>
        <li>Parking Βιβλιοθήκης</li>
      </ol>
      The parkings 4, 5, 6 and 7 are equipped with electric chargers, so that you can combine your stay in the University 
      with charging your vehicle at the same time.
    </div>
    <div class="description3">
      <div id="chargerImg">    
        <img src="../../assets/charging.jpg" alt="charger">
      </div>
      By following the steps, you will finally get our QR code, which you have to check in the QR Reader that you will find next to your spot
      when you reach the parking lot.
      The parkings areas will be closed in the perimeter.
      Extra informations about the timetable and the pricing can be <a href="/timetable">found here</a>.
    </div>
  </div>
</ion-content>
