ion-content{
    --background: var(--ion-color-primary);
}

ion-button{
    margin: 10px;
}

.selector{
    position: absolute;
    bottom: 0;
    right: 10px;
 }

 .reverse-selector{
    position: absolute;
    bottom: 0;
    left: 10px;
 }
 
 .qrcodeImage {
    display: flex;
    flex: 1;
  }
