<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button title=""></ion-back-button>
    </ion-buttons>
    <ion-title>UPark</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="primary">Review your booking...</ion-card-title>
      </ion-card-header>
        <ion-list>
          <ion-item>
            <ion-label>Plate:</ion-label>
          </ion-item>

          <ion-item>
            <ion-label>Slot:</ion-label>
          </ion-item>

          <ion-item>
            <ion-label>Duration:</ion-label>
          </ion-item>

          <ion-item>
            <ion-label>Price:</ion-label>
          </ion-item>

          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>I agree to the terms and conditions</ion-label>
          </ion-item>
        </ion-list>
    </ion-card>
  </div>



  <div class="selector">
     <ion-button   shape="round" size="full" color="light" (click)="setOpen(true)">Book</ion-button>
     <p>{{ handlerMessage }}</p> 
  </div>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
          <ion-title>UPark</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">

        <ion-label>Your QR code is:</ion-label>
        <div class="qrcodeImage">
          <qrcode [qrdata]="'456789123'" [allowEmptyString]="true" [colorDark]="'#000000'" [colorLight]="'#3880ff'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
        <ion-label>You can view the details of your booking in the page My Bookings.</ion-label>

      </ion-content>
    </ng-template>
  </ion-modal>

  <div class="reverse-selector">
    <ion-button   shape="round" size="full" color="light" (click)="cancelBooking()">Cancel</ion-button>
    <p>{{ handlerMessage }}</p>
 </div>
</ion-content>